/* Reset CSS */
/* Emmet */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/*
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình dạng,...)
*/

/* Common */
.clear {
    clear: both;
}

.text-white {
    color: #ffffff !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: calc(100% / 3);
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

/* Main */
#main {

}

#header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000000;
}

#navigation {
    display: inline-block;
}

#navigation, .subnav {
    list-style-type: none;
}

#navigation > li { 
    display: inline-block;
}

#navigation li {    
    position: relative;
}

#navigation > li > a {
    color: #ffffff;
    text-transform: uppercase;
}

#navigation li a {    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#navigation li:hover .subnav {
    display: block;
}

#navigation > li:hover > a,
#navigation .subnav li:hover a {
    color: #000000;
    background-color: #cccccc;

}

#navigation .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#navigation .subnav a {
    color: #000000;
    padding: 0 16px;
    line-height: 38px;
}

#navigation .nav-icon-down {
    font-size: 14px;
}

/* #header .search-button {
    float: right;
    padding: 0 21px;    
} */

#header .mobile-menu-button,
#header>a {
    text-decoration: none;
    float: right;
    padding: 0 21px; 
}

#header .mobile-menu-button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#header>a:hover {
    cursor: pointer;
    background-color: #f44336;
}

/* #header .search-button .box-search {
    width: 200px;
    height: 20px;
    background-color: #f44336;
} */

#header .mobile-menu-button:hover {
    background-color: #cccccc;
}

#header .mobile-menu-button:hover .menu-icon {
    color: #000000;
}

#header .menu-icon,
#header .search-icon {
    color: #ffffff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('./img/slider/slider2.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    color: #ffffff;
    bottom: 48px;
    width: 100%;
    text-align: center;
}
#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description {
    margin-top: 25px;
    font-size: 15px;
}

#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 32px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

#content .tour-section {
    background-color: #000000;
}

#content .tour-section .tickets-list {
    margin-top: 40px;
    list-style: none;
    background-color: #ffffff;
    border-radius: 4px;
}

#content .tickets-list li {
    font-size: 15px;
    color: #757575;
    padding: 11px 16px;
}
/* Tách ra từ #content .tickets-list li
    để tạo viền dưới cho mỗi 2 li ở trên */
#content .tickets-list .border-format {
    border-bottom: 1px solid #dddddd;
}

#content .tickets-list .sout-out {
    background-color: #f44336;
    color: #ffffff;
    padding: 3px 4px;
    margin-left: 16px;
    border-radius: 3px;
}

#content .tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%; /* 50%: bo thành hình tròn */
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

#content .places-list {
    margin-top: 16px;
}

#content .place-img {
    width: 100%;
    display: block;
    border-radius: 4px 4px 0 0;
}

#content .place-img:hover {
    opacity: 0.6;
}

#content .place-body {
    font-size: 15px;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 0 0  4px 4px;
}
#content .place-heading {
    font-size: 15px;
    font-weight: 550;
}
#content .place-time {
    margin-top: 15px;
    opacity: 0.6;
}
#content .place-desc {
    margin-top: 15px;    
    line-height: 1.4;
}
#content .place-buy-btn {
    display: inline-block;
    padding: 11px 16px;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    border: none;
    margin-top: 15px;
    border-radius: 4px;
    text-align: center;
}

#content .place-buy-btn:hover {
    cursor: pointer;
    color: #000000;
    background-color: #cccccc;    
}

/* Contact form */
.contact-content {
    margin-top: 48px;
}

.contact-infor {
    font-size: 18px;
    line-height: 1.5;
}

.contact-infor a {
    text-decoration: none;
    color: #551a8b;
}

.contact-infor a:hover {
    color: #101aef;
}

.contact-infor i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    width: 100%;
    border: 1px solid #cccccc;
}

.contact-form .form-submit-btn {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 16px;
    float: right;
    border-radius: 4px;
}

.contact-form .form-submit-btn:hover {
    cursor: pointer;
    color: #000000;
    background-color: #cccccc;
}

.map-section img{
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover, 
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    text-decoration: none;
    color: #551a8b;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    position: relative;
    background: #ffffff;
    width: 900px;
    max-width: calc(100% - 50px);
    min-height: 200px;
    animation: modalFaceIn ease .5s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #ffffff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #ffffff;
    padding: 12px;    
}

.modal-close:hover {
    cursor: pointer;
    background-color: #ff0000;
}

.modal-body {
    padding: 16px;
}

.modal-lable {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #cccccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background: #009688;
    border: none;
    color: #ffffff;
    letter-spacing: 2px;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}

#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.8;
    color: rgba(0, 0, 0.7);
}

.modal-footer {
    padding: 16px;
    text-align: right;    
}

.modal-footer a {
    color: #2196f3;
}

@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-170px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}